html{
	height:100%;
}
body{
	height:100%;
}
.leftdiv{
	padding:20px;
    width:100px;
    height:200%;
    background-color: blue;
    float: left;
}
.rightdiv{
    float: left;
    width:80%;
    height:100%;
	padding:20px;
}
p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}
td.head{
    font-weight: bold;
}
td.content{
    width:4cm;
}
a:link{
      color:blue;
}
a:visited{
    color:grey;
}
a:hover{
    background-color:blue;
}
a:active{
    text-decoration: underline;
}
ul{
    list-style-type:none;
    text-indent: -32px;
}
li.head{
    font-weight:bold;
    margin-top: 12px;
}